@import url('https://fonts.googleapis.com/css2?family=Sixtyfour&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #00ADB5;
    color: #EEEEEE;
    font-family: 'Sixtyfour', sans-serif;
}

.container {
    max-width:  1000px;
    margin: 0 auto;
    padding: 0 30px;
}

.header .container {
    display: flex;
    justify-content: center;
    padding: 20px 0;
    font-size: 26px;
}

.content {
    flex: 1;
    margin: 20px 0 50px;
}

.content .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

#title {
    font-weight: bold;
    font-size: 25px;
}

.choices {
    display: flex;
    gap: 50px;
}

.player, .computer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.choice {
    width: 250px;
    height: 250px;
    background-color: #393E46;
    border-radius: 16px;
    border: 4px solid #222831;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 150px;
}

.choices img {
    width: 230px;
    height: auto;
}

.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.button {
    background-color: #393E46;
    border-radius: 16px;
    border: 4px solid #222831;
    width: 270px; /* Set the width */
    height: 270px;
}

.button img {
    width: 250px;
    height: auto;
}

.footer {
    background-color: #393E46;
    display: flex;
    justify-content: center;
}

.footer .container {
    margin: 20px 0;
}

.footer img {
    height: 20px;
    width: auto;
}